[Unit]
Description=Run Blank PostgreSQL backup every 6 hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:15:00
Persistent=true
RandomizedDelaySec=10m
Unit=blank-backup.service

[Install]
WantedBy=timers.target
